* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-size: 16px; 
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(1rem, 2.5vw, 1.25rem); 
  font-weight: 400;
  padding: 0.625rem;
}



.close-btn {
  cursor: pointer;
  font-size: 1.125rem;
  color: rgb(185, 179, 179);
  transition: color 0.3s ease; 
}

.close-btn:hover {
  color: #1b1b1b; 
}

.divider {
  border-bottom: 1px solid #1b1b1b;
  margin: 0.625rem 0; 
}

.campaign-standard {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding-left: 0.625rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 300;
}

.subtext{
  font-size: 0.8rem;
  font-weight: 400;
  color: grey;
}

.campaign-box{
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding: 1.25rem;
}

.box-card{
  border: 1px solid grey;
  overflow: hidden;
  border-radius: 5px;
  min-width: 12.5rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.box-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.img1,.img2,.img3,.img4{
  padding: 1.25rem 0;
}

.img1{
 background-color: #EFFDFD;
}

.img2{
  background-color: #EFEEFC;
}
.img3 {
  background-color: #FFF3F0; 
}

.img4 {
  background-color: #FAF9F4; 
}

.campaign-template{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.email-text{
  font-size: 0.75rem;
  font-weight: 400;
  padding: 4px;
}

.aim{
  display: flex;
  flex-direction: column;
  font-size: 0.625rem;
}

.Custom{
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.Custom:hover{
  background-color: #1b1b1b;
  cursor: pointer;
  color: white;
}
.campaign-template-text{
  font-size: 1.25rem;
  font-weight: 400;
}

.campaign-template-subtext{
  font-size: 0.75rem;
  font-weight: 400;
  color: grey;
}
  
.last{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 0.625rem;
padding: 1.25rem;
}

.last-box{
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  padding: 1.5em;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
}

.last-box-text{
 padding: 0.625rem 0;
  font-size: 0.8rem;
}